@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.container{
  max-width: 95%;
  margin:0px auto;
}
h1,h2,h3,h4,h5,h6{
    font-size: xx-large;
    font-weight: bold;
}
input,textarea{
    background: transparent;
    border: 1px solid Aqua;
    padding: 4px;
    border-radius: 5px;
    color: aqua;
    @apply hover:border-appAqua focus:border-appAqua;
}
input::placeholder{
    text-transform: capitalize;
@apply text-appAqua font-extralight
}
input:active{
    @apply border-appAqua
}
.primary-btn{
   @apply bg-green-800 text-appAqua border-2 border-appAqua px-6 py-1 capitalize rounded-[4px] hover:scale-95
}
.slide{
  animation: move 0.5s 1;
}
@keyframes move {
  from{transform: translateX(100%);}
  to{transform: translate();} 
}
label{
  display: block;
  text-transform: capitalize;
  font-weight: bold;
}
body::selection{
@apply   bg-appAqua  text-black
}
.circle{
    position: absolute;
    background: transparent;
    width: calc(var(--i)*2.5vmin);
    aspect-ratio:1;
    border-radius: 50%;
    border: 3px solid aqua;
    transform-style: preserve-3d;
    transform: rotateX(70deg) translateZ(50px);
    animation: move 3s ease-in-out calc(var(--i)*0.08s) infinite;
    box-shadow: 0 0 15px aqua, inset 0 0 15px aqua;
}

@keyframes move {
    0%,
    100%{
        transform:rotateX(70deg) translateZ(100px) translateY(0);
        filter:hue-rotate(0);
    }
    50%{
        transform: rotateX(70deg) translateZ(50px) translateY(300px);
    }
}
.welcomeAnim{
    animation: color 1s linear infinite;
}

@keyframes color {
    0%{ background: linear-gradient(to right,blue,red);
          -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
    }
    50%{
        background: linear-gradient(to right ,red,blue,red);
          -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
    }
     100%{
        background: linear-gradient(to right,red,blue);
          -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
    }
}
